[submodule "PDF-React"]
	path = PDF-React
	url = https://github.com/DeveloperCallum/PDF-React
[submodule "PDF-ImageService"]
	path = PDF-ImageService
	url = https://github.com/DeveloperCallum/PDF-ImageService
[submodule "PDF-Nginx"]
	path = PDF-Nginx
	url = https://github.com/DeveloperCallum/PDF-Nginx
